body {
    width: 100%;
    background-color: white;
}

.main {
    background-color: #0000ff;
    width: 80%;
    margin: 2% 10%;
    border-radius: 5px;
}

.header {
    border-bottom: rgb(65, 4, 4) 2px solid;
    padding: 2%;
    background-color: beige;

}

.name {
    display: inline;
    margin-left: 10%;
    font-size: 50px;
}

.log_in {
    float: right;
    padding: 1% 1% 0.5% 1%;
    border-top: rgb(65, 4, 4) 2px solid;
    border-left: rgb(65, 4, 4) 2px solid;
    border-right: rgb(65, 4, 4) 2px solid;
    margin-top: 75px;

}

.footer {
    border-top: rgb(65, 4, 4) 2px solid;
    padding: 1% 2%;
    text-align: center;
    clear: both;
}

.cont {
    /*border: 1px solid black;*/
    padding-left: 18px;
}

.cubeanddescr {
    width: 250px;
    display: inline-grid;
    margin: 0% 1%;
}

.text {
    width: 200px;

}

.title {
    text-align: center;
}
